[submodule "FreeRTOS-LTS"]
	path = FreeRTOS-LTS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS.git
	branch = 202406-LTS
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
	branch = master
